### Log file ###

#LOG=/var/log/backup-vms.log

### Local directories

# local backup target directory
DST=/var/backups/kvmvms

# if ONE_FOLDER_PER_BACKUP is set to true, a new folder (based on the current timestamp) will be created for every backup.
ONE_FOLDER_PER_BACKUP=false

#Name of the 7zip binary (it's not the same on all systems)
ZIP_BIN=7za
#ZIP_BIN=7z

### External backups. Uncomment if used.

# remote backup target directory
#DSTEXT=/srv/backup/autofs/nfs

# passphrase to encrypt remote backups
#PASSPHRASE="${DST}/.passphrase"


# VMs that do not have a Qemu-guest-agent and need to be offline for the backup
OFFLINE=(
#    "db.roessner-net.de"
)

# VMs that do not shutdown gracefully will be resetted by virsh destroy
FORCE_SHUTDOWN=(
#    "vms1"
)

# VMs to exclude from backup
SKIP=(
#    "vms1"
)

### Local directories to backup

# List of local directories on the physical host
# uncomment or append other directories to backup
BACKUPDIRS=(
    "/root"
    "/etc"
    "/usr/local"
    "/var/spool/cron/crontabs"
#    "/export/packages"
)

### Tasks to run

# Order matters!
# (uncomment encrypt and backup_local_dirs if needed)
TASKS=(
    "run_online"
    "run_offline"
#    "encrypt"
#    "backup_local_dirs"
)

